*.pyc
.env
.idea/
.vscode/
app/log/*
virenv*
log*
appspec.yml
scripts/
.cache/
__pycache__
tests/__pycache__
app/__pycache__
app/config/__pycache__
app/controller/__pycache__
app/model/__pycache__
app/library/__pycache__
app/middleware/__pycache__
run.sh